<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.mediaplayer">

    <application>
        <activity android:name=".ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:process=":process.sub"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
    </application>

    <!-- Allow rw files-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>